* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf

*.jar binary
*.zip binary
*.exe binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
